



@{
    ViewBag.Title = "the game Page";
}


    <div id="myscoretablebackround" class="myscoretablebackround">


    </div>
    <div id="opscoretablebackround" class="opscoretablebackround">


</div>

<br />
<br />
<br />
<br />
<br />
<br />
<div id="wordletters" class="wordletters">


</div>
<br />
<br />

        <div id="maingame" class="maingame">


        </div>

 
    <div id="divHistory">

      <br />
        <br />
        <br />
        <br />
        <br />
    </div>

<br />
<br />
<br />
<br />
<br />

         
        <script type="text/javascript" src="~/JS/make_new_game.js"></script>
 

