@{
    ViewBag.Title = "Game Page";
}


<h2> The @ViewBag.Title</h2>



<div class="col-md-6 col-xs-8">
    <h3> Some thing not right here... </h3>
    <img src="~/img/some thing not right here...gif" />
</div>

<div class="col-md-6 col-xs-4">
    <h2>Slap!</h2>
    <img src="~/img/slap.gif">
</div>