@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class="col-md-6 col-xs-8">
        <h2> Welcome! </h2>
        <h3><span> This Website facilitate an awesome word game! </span></h3>
        <div>
            <p>
                think you can reach the top and be the best of the best?!
            </p>
            <p>
                Give it a try!
            </p>
        </div>

        <div>
            <h4>Rules:</h4>
            <p>Your objective is.. yadi dadi da</p>
        </div>

    </div>

    <div class="col-md-6 col-xs-4">
        <h2>Some place holder!</h2>
        <img src="~/img/original.gif">
    </div>

</div>
